<html>
<head>
     <title>This is to display a resume.</title>
     <link rel="stylesheet" type="text/css" href="Resume/style.css" />

     <script src="Resume/prototype.js" type="text/javascript"></script>
     <script src="Resume/scriptaculous.js" type="text/javascript"></script>
     <script type="text/javascript" src="Resume/script.js"></script>
   
   </head>
<body onload="hideallids()">

    <div id="page-wrap">
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h3 class="fn">{{person}}</h3>
        
            <p>
                Cellphone: <span class="tel">{{cell}}</span><br />
                Email: <a class="email" href="{{email}}">{{email}}</a>
            </p>
        </div>
      <div id="objective">
            <p><b> Objective <b> </p>
            <p onclick="showAll()">
                {{objective}}
            </p>
        </div>
        <div class="clear">&nbsp</div>
        <div id="content">
        <dl>
            <dt>Education</dt>
            {% for schl in school %}
            <dd>
                <h4>{{schl.sch}} <h4>
                 <a href="http://{{schl.schoolwebsite}}">{{schl.schoolwebsite}}</a>

                <p><strong>{{schl.degree}}</strong></p>                 
            </dd>
            {% endfor %}
          </dl>
          <div class="clear">&nbsp</div>
         <dl>
            <dt>Experience</dt>
             {% for employment in employers %}
            <dd>
                <h4>{{employment.title}}</span></h4>
                 <a href="{{employment.orgdomname}}">{{employment.organization}}</a>
                 {{employment.startdt}} - {{employment.enddt}}
                <ul>
                    {% for desc in employment.description %}
                    <li>{{ desc.text }}</li>
                    {% endfor %}
                </ul>
            </dd>
            {% endfor %}
            <div class="clear">&nbsp</div>
            <dl>
            <dt>References</dt>
            <dd> 
              <ul>
              {% for reference in references %}
                <li> 
                   <b> Name: &nbsp; </b> {{reference.name}}<br />
                   <b> Position: &nbsp; </b> {{reference.position}}<br />
                   <b> Telephone: &nbsp; </b>{{reference.telephone}}<br />
                   <a href="mailto:{{reference.email}}">{{reference.email}}</a> <br />
                 {% endfor %}
               </li>
             </dl>
            
              </ul>
            
            </dd>

            <dd class="clear"></dd>
            
            <dt>Additional</dt>
            <dd>
              <ul>
                {% for item in additoinalItems %}
                  <dt>
                  <b> Description: &nbsp; </b> {{item.description}}<br />
                  </dt>
                {% endfor %}
              </ul>
            </dd>
            
            <dd class="clear">&nbsp</dd>
            
            <dt>Achievements</dt>
            <dd>Articles published on New York Times</dd>

            <dd class="clear"></dd>
        
        <div class="clear"></div>
        </div>
</div>

</body>

</html>
